@import "/rilti-site/normalize.css";
@import "/rilti-site/prism.css";
body {
  font-family: "Nunito", "Roboto", "Oxygen", "Ubuntu", "Segoe UI", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #534e43;
  color: hsl(0, 0%, 45%);
  text-align: center;
}

ul {padding-left: 13px !important;}
li>ul {margin-top: 4px !important;}
li {margin-bottom: 6px !important;}
.hidden {display: none !important;}

.sidebar {
  position: fixed;
  display: block;
  height: 100%;
  width: 260px;
  left:0;
  top:0;
  text-align: center;
  overflow-x: visible;
  overflow-y: auto;
  background: #e0d1b2;
  color: hsl(44, 28%, 30%);
  text-shadow: 0 1.2px 3px hsla(0, 0%, 0%, .2);
  box-shadow: 0 0 8px hsla(0, 0%, 0%, .3);
  z-index: 10;
}

.sidebar h1 {
  font-size: 2.2rem;
}

.sidebar a, #viewer a {
  text-decoration: none;
  color: dimgrey;
  font-weight: bold;
}

.sidebar h1 {
  margin: 10px auto;
  margin-bottom: 15px;
}

.sidebar hr {
  width: 60%;
  margin-bottom: 1vh;
  border-style: solid;
  border-color: hsl(31, 24%, 65%);
}

.sidebar>hr:last-of-type {
  margin-bottom: 1.5vh;
}

.sidebar-headers {
  display: block;
  margin: 5px auto;
  width: 100%;
}

.sidebar-header {
  display: inline-block;
  margin-right: 3px;
  height: 30px;
  line-height: 30px;
  width: 75px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  background: #bda87e;
  text-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: content-box;
  border-radius: 2px;
  transition: all 140ms ease;
  z-index:4;
}

.sidebar-header:nth-of-type(1) {
  left: 5px;
}
.sidebar-header:nth-of-type(2) {
  left: 85px;
}
.sidebar-header:nth-of-type(3) {
  left: 165px;
}
.sidebar-header:nth-of-type(4) {
  left: 245px;
}

.sidebar-section {
  width: 96%;
  height: auto;
  margin: 0 auto;
  overflow: auto;
}

.sidebar-section > *:not(.sidebar-header) {
  display: none;
}

.sidebar-section.open > *:not(.sidebar-header) {
  display: block;
}

.sidebar-header>span, .sidebar-button>span {
  color: #ffdd86;
  margin: 0 1px 0 1px;
  text-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
}

.sidebar-button {
  display: inline-block;
  float:left;
  width: 120px;
  height: 8mm;
  line-height: 8mm;
  margin: 2px;
  font-size: .95em;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: hsl(40,10%,94%);
  color: #eccd7d;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
  transition: all 120ms ease-out;
}

.sidebar-button::before {
  display: inline-block;
  content: '.';
  color: #d99e0a;
}

.sidebar-button::after, #viewer > header::after {
  font-family: "Consolas", "Courier New", "Lucida Console", monospace;
}

.sidebar-button:hover::after, .sidebar-button.selected::after {
  content: "()";
}

.sidebar-button.selected::after {
  color: #fff;
}

.sidebar-button:hover {
  background: hsl(40,13%,90%);
  border-left: 1px solid #91825d;
  border-right: 1px solid #91825d;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, .2);
}

.sidebar-button.selected>span {
  color: #fff;
}

.sidebar-button.selected {
  color: #fff4bd;
  background: #91825d;
  text-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
}

main {
  position: relative;
  width: calc(100% - 260px);
  margin-left: 260px;
  height: 100vh;
  padding: 4px;
  overflow:auto;
}

#viewer {
  position: relative;
  display: block;
  background: #e0d1b2;
  overflow: visible;
  text-align: left;
  min-width: 560px;
  width: 85%;
  height: auto;
  margin: 2vh auto;
  padding: 1vw;
  border-radius: 2.5px;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
}

.title-tab {
  position: sticky;
  display: block;
  top:-30px;
  left:0;
  padding: 5px;
  background: #fff;
  content: 'rilti.js';
}

#viewer > header {
  display: block;
  width: 100%;
  height: 32px;
  line-height: 30px;
  padding-left: 10px;
  margin: 0 auto 5px auto;
  border-radius: 2.5px;
  background:#cdb17a;
  color:#fff;
  font-size: 1.4em;
  text-shadow: 0 1px 3px hsla(0, 0%, 0%, .25);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#viewer > header::before {
  content:'.';
  color:#ffe09e;
}

#viewer > header::after {
  font-size: .95em;
  content:'()';
}

#viewer > pre {
  font-size: .95rem;
  width: 100%;
  text-shadow: 0 1px 3px hsla(0, 0%, 0%, .25);
  box-shadow: inset 0 0 5px 2px hsla(0, 0%, 0%, .3);
}

#viewer > div.description {
  padding:0 1vw 0 1vw;
  color:#545353;
}

.home {
  position: fixed;
  top:5vh;
  right:5vw;
  width: 90vw;
  height: 90vh;
  background: #bba374;
  color:#fff;
  text-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
  box-shadow: 0 1px 7px hsla(0, 0%, 0%, .3);
  border-radius: 4px;
  display: none;
  z-index: 12;
}

.home > .quit-me {
  position: absolute;
  top:-20px;
  right:-20px;
  width: 40px;
  height:40px;
  line-height: 34px;
  font-size: 2.6em;
  cursor: pointer;
  border-radius: 100%;
  color:#fff;
  background: #bf2121;
  box-shadow: 0 1px 7px hsla(0, 0%, 0%, .3);
}
.home > .quit-me::before {
  content:'x';
}

.blackout {
  position: fixed;
  top:0;
  right:0;
  display: block;
  width: 100%;
  height: 100%;
  background: hsla(32,10%,20%,.90);
  z-index: 10;
}
