body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: column;
}

.calculator {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-flow: column;
  width: 240px;
  height: auto;
  border-radius: 6px 6px 4px 4px;
  border-bottom: 6px solid hsl(0, 0%, 45%);
  background: hsl(0, 0%, 30%);
  box-shadow: 0 4px 12px rgba(0,0,0,.25);
}

.calculator > .screen {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  flex-flow: row nowrap;
  text-align: right;
  font-family: monospace;
  font-size: 2.8em;
  color: #000;
  background: hsl(142, 19%, 48%);
  width: 210px;
  border-radius: 4px;
  padding: 2.5px 5px;
  margin: 15px;
  box-shadow: inset 0 2px 5px rgba(0,0,0,.2);
}
.calculator > .numpad {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 220px;
  height: auto;
  font-size: 1.2em;
  border-radius: 4px;
  margin: 50px auto 10px auto;
}
.calculator > .numpad > button {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
  width: 45px;
  height: 45px;
  margin: 5px;
  padding: 0;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid hsl(0, 0%, 50%);
  background: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 75%);
  transition: all 120ms ease;
}
.calculator > .numpad > button:hover {
  border-color: hsl(0, 0%, 60%);
  background: hsl(0, 0%, 30%);
  color: hsl(0, 0%, 85%);
}

.calculator > .numpad > button:active {
  border: 1px solid hsl(0, 0%, 40%);
}

.calculator > .numpad > button.active {
  color: hsl(118, 63%, 51%);
}

.calculator > .numpad > .clear {
  position: absolute;
  right: 0;
  bottom: 100%;
}
