* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
}

html, body {
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto, Nunito, Helvetica, sans-serif;
  color: hsl(0,0%,35%);
  background: hsl(0,0%,98%);
}

.page-title {
  padding: 1.2%;
  text-shadow: 0 1px 3px hsla(0,0%,0%,.2);
}

.box {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap;
  margin: 2% auto;
  padding: 10px;
  width: 90%;
  max-width: 640px;
  border-bottom: 4px solid hsl(0,0%,90%);
  background: hsl(0,0%,100%);
  box-shadow: 0 2px 16px hsla(0,0%,0%,.2);
}

.box > header:first-of-type {
  align-self: flex-start;
  display: inline-block;
  font-size: 1.4em;
  margin-bottom: 15px;
  padding: 5px 10px 5px 10px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.box > article {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 20px;
  margin: 5px auto;
  width: 90%;
  border-bottom: 1px solid hsl(0,0%,95%);
}

.box > footer {
  margin: 5px 5px 0 5px;
  width: 100%;
}

label, input[type="text"] {
  outline: none;
  padding: 2.5px;
  margin: 5px auto;
  width: 80%;
}

input[type="text"]:last-of-type {
  margin-bottom: 0;
}

button {
  display: inline-block;
  vertical-align: middle;
  flex: 1 0 auto;
  outline: none;
  width: auto;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  font-size: 1.05em;
  font-weight: bold;
  border-radius: 2px;
  border: 1px solid hsl(34,100%,60%);
  color: hsl(34,100%,60%);
  background: #fff;
  transition: all 140ms ease;
}

button:hover {
  background: hsl(34,100%,60%);
  color: #fff;
}

button:active {
  box-shadow: inset 0 1px 4px hsla(0,0%,0%,.2);
  text-shadow: 0 1px 4px hsla(0,0%,0%,.2);
}

pre {
  padding: 6px !important;
  border-radius: 2px !important;
}

.counter {
  display: inline-block;
  margin: 5px;
  padding: 12px;
  border-radius: 2px;
  border: 1px solid hsl(0,0%,80%);
}

section[example] {
  margin: 40px auto;
}

tick-box {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  background: #fff;
  border: 1px solid #ccc;
  margin: 2px;
  padding: 15px;
  border-radius: 100%;
  cursor: pointer;
  transition: all 140ms ease;
}

tick-box[ticked] {
  background: hsl(133,72%,64%);
  border: 1px solid #fff;
}

tick-box[ticked="false"] {
  background: #fff;
  border: 1px solid #ccc;
}

todo-list, todo-list > header, todo-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: column;
  flex-wrap: nowrap;
}

todo-list {
  margin: 10px auto;
  padding: 10px;
}

todo-list > header, todo-item {
  flex-flow: row;
  justify-content: space-between;
  width: 90%;
  max-width: 500px;
  flex: 1 0 auto;
}

todo-list > header > * {
  flex: 1 0 auto;
  margin: 2px !important;
}

todo-list > header > input[type="text"] {
  padding: 9.5px;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: hsl(0,0%,33%);
  font-size: 1.055em;
}

todo-list > aside > span {
  display: inline-block;
  margin: 5px;
  padding: 8px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2.5px;
  cursor: pointer;
  user-select: none;
}

todo-list[mode="all"] > aside > span:nth-child(1) {
  border: 2px dashed hsl(133,72%,64%);
}
todo-list[mode="done"] > aside > span:nth-child(2) {
  border: 2px dashed hsl(133,72%,64%);
}
todo-list[mode="undone"] > aside > span:nth-child(3) {
  border: 2px dashed hsl(133,72%,64%);
}

todo-list[mode="done"] todo-item[state="false"] {
  pointer-events: none;
  transform: scale(0);
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

todo-list[mode="undone"] todo-item[state="true"] {
  pointer-events: none;
  transform: scale(0);
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

todo-list[mode="undone"] > aside > span:nth-child(3) {
  border: 2px dashed hsl(133,72%,64%);
}

todo-item {
  padding: 4px 5px;
  margin: 12px;
  border-radius: 5px 45px 45px 5px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 1px 10px hsla(0,0%,0%,.2);
  background: #fff;
  transition: all 140ms ease-in;
}

todo-item > .delete-todo {
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  color: hsl(356,86%,60%);
  background: hsl(0,0%,95%);
  border: 1px solid #fff;
  font-size: 1.1em;
  text-align: center;
  cursor: pointer;
  width: 31px;
  height: 31px;
  line-height: 30px;
  margin: 0 5px 0 2px;
  transition: all 140ms ease-in;
}

todo-item > .delete-todo:hover {
  border: 1px solid hsla(356,86%,60%,.6);
  text-shadow: 0 0 3px hsla(0,0%,0%,.2);
}

todo-item > .txt {
  outline: none;
  padding: 3px;
  margin: 5px;
}


todo-item[state="false"] > .txt {
  text-decoration: none !important;
}

todo-item[state] > .txt {
  text-decoration: line-through;
}
