rilti-tabs {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 2.5px;
  --tab-highlight: hsl(0,0%,80%);
  --tab-highlight-active: hsl(0,0%,60%);
}

rilti-tabs>* {
  position: relative;
  display: block;
  width: 100%;
}

rilti-tabs>header {
  display: flex;
  justify-content: flex-start;
  user-select: none;
  -moz-user-select: none;
  align-content: center;
  align-items: center;
  text-align: center;
  color: hsl(0, 0%, 30%);
  border-color: var(--tab-highlight);
  border-bottom: 1px solid var(--tab-highlight);
}

rilti-tabs>header>span {
  cursor: pointer;
  padding: 10px 16px 10px 16px;
  border-bottom: 2px solid transparent;
  transition: border 140ms ease;
}

rilti-tabs>header>span:hover {
  color: hsl(0, 0%, 40%);
  background: hsl(0, 0%, 98.5%);
  border-bottom: 2px solid inherit;
}

rilti-tabs>header>span.active {
  border-bottom: 2px solid var(--tab-highlight-active);
}

rilti-tabs>header>span.disabled {
  pointer-events: none;
  cursor: default;
  -moz-filter: brightness(1.5);
  filter: brightness(1.5);
}

rilti-tabs>article {
  padding: 10px;
}
