body {
  font-family: Nunito, Verdunda, Roboto, Helvetica, sans-serif;
  height: 100%;
  color: hsl(0,0%,33%);
  background: #fff;
  overflow: auto;
  --theme-color: #e22f55;
}

iframe {
  display: block;
  border: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

pre {
  display: block;
  text-align: left;
  white-space: pre-wrap;
  padding: 5px;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: inset 0 0 10px hsla(0,0%,0%,.13);
  text-shadow: 0 1px 2px hsla(0,0%,0%,.1);
  font-size: 15px;
  background: hsl(0, 0%, 20%);
  color: #fff;
}

span.expose {
  color: var(--theme-color);
}

#site-head {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  padding: 1.15vh 0;
  font-size: 1.15em;
}

#site-head > h1 {
  margin: 5px 5px 15px 5px;
}

#site-head > nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 96%;
  max-width: 500px;
  margin: 0 5px 6px 5px;
  border-bottom: 1px solid var(--theme-color);
  box-shadow: 0 6px 4px -5px rgba(0,0,0,.11);
}

#site-head > nav > a {
  display: inline-flex;
  justify-content: center;
  align-content: flex-end;
  align-items: flex-end;
  flex-flow: row nowrap;
  -webkit-user-drag: none;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-decoration: none !important;
  margin: 0 5px;
  height: 50px;
  padding: 10px 20px;
  top: 1px;
  border-radius: 3px 3px 0 0;
  border-bottom: 2px solid rgba(0,0,0,0);
  transition: all 120ms ease-in;
}

#site-head > nav > a:hover,
#site-head > nav > a.active {
  border-bottom: 2px solid var(--theme-color);
  text-shadow: 0 2px 5px hsla(0,0%,0%,.2);
}

#site-head > nav > a.active {
  box-shadow: 0 8px 4px -5px rgba(0,0,0,.09);
  font-weight: 600;
}

#page-view {
  display: block;
  max-width: 700px;
  margin: 0 auto;
  padding: 4px;
}

.section-heading {
  font-size: 2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin: 10px auto 30px auto;
  transition: all 120ms ease-in;
}

.section-heading::before {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-right: 2px;
  text-align: center;
  color: var(--theme-color);
  border-radius: 6px;
  font-size: .9em;
  content: '#';
}

.section-heading:hover {
  text-decoration: underline;
}

.example {
  margin: 20px auto 40px auto;
  max-width: 520px;
}

.example > header {
  justify-content: flex-end;
}
