body {
  font-family: Nunito, Verdunda, Roboto, Helvetica, sans-serif;
  color: hsl(0,0%,33%);
  background: hsl(0,0%,98.5%);
  overflow: auto;
}

:root {
  --highlight-color: hsl(358, 60%, 74%);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

pre {
  display: block;
  text-align: left;
  white-space: pre-wrap;
  padding: 5px;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: inset 0 0 10px hsla(0,0%,0%,.13);
  text-shadow: 0 1px 2px hsla(0,0%,0%,.1);
  font-size: 15px;
  background: hsl(0, 0%, 20%);
}

#page-nav > header {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  padding: 0 1vw;
  color: #fff;
  background: var(--highlight-color);
}

#page-nav > header > h2 {
  position: absolute;
  left: 3vw;
}

#page-nav > header > span {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin: 1vh 5px;
  padding: 5px;
  font-size: 1.15em;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 100ms ease-out;
}

#page-nav > header > span:not(.active):hover {
  border-bottom: 1px solid hsl(0,0%,92%);
}

#page-nav > header > span.active {
  border-bottom: 1px solid #fff;
  text-shadow: 0 2px 3px hsla(0,0%,0%,.1);
  box-shadow: 0 4px 4px -4px hsla(0,0%,0%,.12);
}

#page-nav > article {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-flow: column wrap;
  overflow: auto;
  width: 100%;
  padding: 15px 0;
  animation: fade-in 250ms ease;
}

#page-nav[active="examples"] > article > h2 {
  margin: 10px auto;
  max-width: 800px;
  width: 90%;
  text-align: left;
}

#examples {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
}

.example {
  display: block;
  width: 98%;
  max-width: 580px;
  min-height: 200px;
  margin: 20px auto;
  border-radius: 1px;
  border: 1px solid var(--highlight-color);
  box-shadow: 0 2px 30px hsla(0,0%,0%,.1);
}

.example > header {
  padding: 2.5px 5px;
  border-bottom: 0;
}

.example > header > div {
  display: inline-block;
  font-size: 1.25em;
  margin: 5px 5px 5px 0;
  padding-right: 5px;
  color: var(--highlight-color);
  border-right: 1px solid var(--highlight-color);
}

.example > header > span {
  font-size: .92em;
  color: hsl(0,0%,40%);
}

.example-tab {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 1px;
  border-radius: 1px 1px;
}

.example-tab > header {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  flex-flow: row nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  height: 10mm;
  margin: 0 auto 0 auto;
  overflow: hidden;
  box-sizing: content-box;
  color: var(--highlight-color);
  border-bottom: 1px solid var(--highlight-color);
  border-top: 1px solid var(--highlight-color);
  font-size: 1.06em;
  transition: border-color 120ms ease;
}

.example-tab > header > span {
  display: block;
  padding: 10px;
  cursor: pointer;
  min-width: 65px;
  text-align: center;
  box-sizing: content-box;
  border-left: 1px solid var(--highlight-color);
}

.example-tab > header > span:hover {
  text-decoration: underline;
  text-decoration-color: var(--highlight-color);
}

.example-tab > header > span.active {
  text-shadow: 0 2px 3px hsla(0,0%,0%,.1);
  background: var(--highlight-color);
  color: #fff;
}

.example-tab > article {
  display: block;
  text-align: center;
  padding: 5px;
  background: var(--highlight-color);
  color: #fff;
}

.demo-box {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-flow: column wrap;
  overflow: hidden;
  white-space: pre-wrap;
  margin: 0 auto;
  height: 100%;
  min: 100%;
  min-height: 120px;
  border: 2px dotted var(--highlight-color);
  background: hsl(0, 0%, 98%);
  color: hsl(0,0%,28%);
  padding: 10px;
}
