* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
}

html, body {
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Nunito, Verdunda, Roboto, Helvetica, sans-serif;
  color: hsl(0,0%,40%);
  background: hsl(0,0%,98.5%);
}

#site-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 5px 10px;
  color: hsl(0,0%,54%);
}

#site-header > h2 {
  text-shadow: 0 1px 3px hsla(0,0%,0%,.11);
}

#site-header > nav {
  display: block;
  padding: 5px 0;
  margin: 5px 0;
}

#site-header > nav > .nav-btn {
  padding: 6px 8px;
  margin: 4px;
  border-radius: 2px;
  font-weight: 600;
  background: #fff;
  box-sizing: content-box;
  cursor: pointer;
  font-size: 1.2em;
  transition: all 142ms ease;
  filter: drop-shadow(0 1px 12px hsla(0,0%,0%,.1));
}

#site-header > nav > .nav-btn:hover {
  filter: drop-shadow(0 1px 4px hsla(0,0%,0%,.15));
}

main.display {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  margin: 10px auto;
}

doc-views {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  filter: drop-shadow(0 1px 12px hsla(0,0%,0%,.08));
}

doc-view {
  display: inline-flex;
  justify-content: space-around;
  align-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  max-width: 796px;
  margin: 12px auto;
  border-radius: 4px;
  padding: 5px;
  background: hsl(0,0%,100%);
}

doc-view > header {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  align-items: center;
  flex-flow: column wrap;
  text-align: left;
  margin: 5px;
}

doc-view > header > div > span {
  font-size: 1.1em;
  font-weight: 600;
}

doc-view > header > p {
  display: block;
  width: 350px;
  margin: 25px 0 25px 0;
  padding: 5px 0;
  border-top: 1px solid hsla(0,0%,0%,.25);
  border-bottom: 1px solid hsla(0,0%,0%,.25);
}

doc-view .demo {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 5px;
}

doc-view > header > h4 {
  display: block;
  width: 90%;
  margin: 10% auto 0 auto;
  border-bottom: 1px solid hsl(0,0%,70%);
  box-shadow: 0 3px 2px -2px hsla(0,0%,0%,.11);
  text-align: left;
}

doc-view > section {
  margin: 5px;
  max-width: 380px;
}
doc-view pre.language-javascript {
  margin: 0;
  width: 355px;
}

todo-item {
  display: block;
  margin: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 1.25em;
  text-align: center;
  max-width: 320px;
  color: hsl(0,0%,35%);
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 1px 4px hsla(0,0%,0%,.2);
}
todo-item > span:not(.toggle) {
  text-decoration: none;
  padding: 3.5px 6.5px 3.5px 6.5px;
}
todo-item[done="true"] > span:not(.toggle) {
  text-decoration: line-through;
  box-sizing: content-box;
  height: 100%;
  color: hsl(0,0%,32%);
}

todo-item > span {
  vertical-align: middle;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
}

todo-item > .toggle {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 5px 3px 3px;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid hsl(0,0%,80%);
  background: #fff;
  transition: all 120ms ease;
}

todo-item > .toggle:hover {
  -webkit-filter: brightness(105%);
  -moz-filter: brightness(105%);
  filter: brightness(105%);
}

todo-item[done="true"] > .toggle {
  background: hsl(111,70%,62%);
  border: 1px solid hsl(111,70%,62%);
}

todo-item [contenteditable] {
  text-decoration: none !important;
  cursor: inherit;
  border: 1px dotted grey;
  border-radius: 16px;
}
