tab-component {
  position: relative;
  display: block;
  --tab-highlight: hsl(342, 100%, 52%);
  border-radius: 2px;
  overflow: hidden;
}

tab-component > header {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%;
  height: calc(12mm + 4px);
  padding: 1mm;
  background: hsl(0, 0%, 40%);
  border-bottom: 2px solid hsl(0, 0%, 34%);
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,.15);
  z-index: 1;
}

tab-component > header > div {
  flex: 0 1 auto;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-align: center;
  padding: 0 2.5mm;
  min-width: 50px;
  width: auto;
  height: 10mm;
  margin-left: 1mm;
  background: hsl(0, 0%, 94%);
  border-bottom: 2px solid hsl(0, 0%, 82%);
  border-radius: 2px;
  cursor: pointer;
  font-size: 1.2em;
  transition: all 120ms ease-in;
}

tab-component > header > div:first-of-type {
  margin-left: 0;
}

tab-component > header > div:hover,
tab-component > header > .active {
  text-shadow: 0 2px 3px rgba(0,0,0,.2);
}

tab-component > header > .active {
  color: var(--tab-highlight);
  border-bottom: 0 solid hsl(0, 0%, 85%);
  background: #fff;
}

tab-component > header > h2 {
  flex: 1 1 auto;
  font-weight: 700;
  font-size: 1.65em;
  margin-left: 1mm;
  color: hsl(0, 0%, 100%);
  text-shadow: 0 2px 3px rgba(0,0,0,.14);
}

tab-component > section {
  width: 98%;
  padding: 1.2mm;
  margin: 0 auto;
  background: hsl(0, 0%, 94%);
  border: 2px solid hsl(0, 0%, 91%);
  border-bottom: 2px solid hsl(0, 0%, 88%);
  border-radius: 0 0 2px 2px;
}

@media all and (max-width: 510px) {
  tab-component > header {
    height: 22mm;
  }
  tab-component > header > h2 {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    font-size: 1.7em;
    margin: 1mm 0 0 0;
    text-align: center;
  }
  tab-component > header > div {
    top: 5mm;
    flex: 1 1 auto;
  }
}
